@import url(https://fonts.googleapis.com/css?family=Karla);

body{
    background: #F2F2F2;
    font-family: karla, system-ui, sans-serif;
    margin: 0;
   }
   
   .container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.fuse {
    grid-column: 1 / 13;
    grid-row: 1;
    margin-left: 50px;
    margin-top: 17px;
}

.mundo {
    grid-column: 10 / 13;
    grid-row: 1;
    margin-left: 50px;
    margin-top: 37px;
}

.idioma {
    grid-column: 11 / 13;
    grid-row: 1;
    margin-top: 40px;
}

.barra {
    background: rgba(86, 110, 180, 0.7);
    grid-column: 1 / 13;
    grid-row: 1;
    color: #FFF;
    height: 90px;
    display: grid;
}



#divBusca {
    background: #7282b3;
    border: 2px solid #FFFFFF;
    border-radius: 9px;
    grid-column: 7 / 13;
    width: 500px;
    height: 30px;
    margin-top: 35px;
    grid-row: 1;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 6px;
    font-size: 20px;
    border: none;
    height: 31px;
    width: 191px;
    color: white;
}

#txtBusca:focus {
    outline: none;
    color: #FFF;
}

#pesquisa {
    width: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

#btnBusca {
    border: none;
    float: left;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 70px;
    font-weight: bold;
    background: #5F9EA0;
}

#divBusca img {
    float: left;
}

.topo {
    background: #6B7D8F;
    grid-column: 1 / 13;
    grid-row: 1;
    color: #FFF;
}

.menu-abaixo{
    background: rgba(86, 110, 180, 0.9);
    font-size: 24px;
    grid-column: 1;
    width: 1903px;
    height: 80px;
}

.menu-abaixo a{
    color: white;
    text-decoration: none;
}

.menu-abaixo ul li{
    display: inline-block;
    padding-right: 200px;
    margin-left: 150px;
}
.noticia{
    background-color: #FFFFFF;    
    grid-column: 5 / 12;
    grid-row: 2;
    margin-top: 150px;
    border-radius: 10px;
    box-shadow:0px 1px 2px rgb(182, 179, 179);
    width: 600px;
    height: 270px;
    color:#475468;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 10px;
}

#icone-noticias{
    margin-top: 10px;
    width: 30px;
    height: auto;
}

.texto-noticia{
margin-top: -50px;
margin-left: 38px;


}

#imagem-noticia{
    margin-top: 10px;
}

.chuva-forte{
    color:#0F161E;
    font-size: 15px;
    padding-left:210px;
    margin-top: -90px;

}






.agricola{
    background-color: #FFFFFF;    
    grid-column: 4/ 12;
    grid-row: 4;
    margin-top: 200px;
    margin-left: -60px;
    border-radius: 10px;
    box-shadow:0px 1px 2px rgb(182, 179, 179);
    width: 600px;
    height: 270px;
    color:#475468;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 10px;
       
}

#icone-agricolas{
    margin-top: 10px;
    width: 30px;
    height: auto;
}

.texto-agricolas{
    margin-top: -50px;
    margin-left: 38px;
}


#imagem-agricola{
    margin-top: 10px;
    margin-left: -35px;
}

.exporta{
    color:#0F161E;
    font-size: 15px;
    padding-left:170px;
    margin-top: -90px;
}







.chuva{
    background-color: #FFFFFF;    
    grid-column: 4/ 12;
    grid-row: 3;
    margin-top: 200px;
    margin-left: -60px;
    border-radius: 10px;
    box-shadow:0px 1px 2px rgb(182, 179, 179);
    width: 600px;
    height: 270px;
    color:#475468;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 15px;
       
}

.confira{
    color:#0F161E;
    font-size: 15px;
    padding-left:-5px;
    margin-top:80px;
}

#icone-previsao{
    margin-top: 10px;
    width: 30px;
    height: auto;
}

.texto-previsao{
    margin-top: -50px;
    margin-left: 38px;
}


.clima{
    background-color: #FFFFFF;    
    grid-column: 4/ 12;
    grid-row: 4;
    margin-top: 200px;
    margin-left: -95px;
    border-radius: 10px;
    box-shadow:0px 1px 2px rgb(182, 179, 179);
    width: 600px;
    height: 270px;
    color:#475468;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 10px;
       
}

#clima-queremos{
    margin-top: 20px;
    width: 140px;
    height: 100px;
}

.cop{
    color:#0F161E;
    font-size: 15px;
    padding-left:170px;
    margin-top: -100px;
}

#icone-clima{
    margin-top: 10px;
    width: 30px;
    height: auto;
}

.texto-clima{
    margin-top: -50px;
    margin-left: 38px;
}

#imagem-clima{
    margin-top: 10px;
    margin-left: -35px;
}

.footerr{
    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    text-align: left;
    background:  #565c68;
    color: #FFF;
    width: 1903px;
    height: 450px;
    margin-top: 200px;
    margin-left: -735px;
}

.logofooter{
    width: 200px;
    grid-column: 2 / 11;
    grid-row: 2;
    margin-top: 30px;
}

.baixe{
    grid-column: 5;
    grid-row: 2;
    font-size: 30px;
}

.siga{
    grid-column: 8;
    grid-row: 2;
    font-size: 30px;
}

.apple{
    width: 40px;
    grid-row: 3;
    grid-column: 5;
    margin-top: -9px;
    }
    
    .android{
    width: 40px;
    grid-row: 3;
    grid-column: 5;
    margin-left: 70px;
    margin-top: -8px;
    }
    
    .facebook{
        width: 40px;
        grid-row: 3;
        grid-column: 8;
        margin-top: -9px;
        }
        
    .twitter{
        width: 40px;
        grid-row: 3;
        grid-column: 8;
        margin-left: -100px;
        margin-top: -9px;
        }
    
    .youtube{
            width: 40px;
            grid-row: 3;
            grid-column: 9;
            margin-left: -10px;
            margin-top: -9px;
            }
            
    .instagram{
            width: 40px;
            grid-row: 3;
            grid-column: 8;
            margin-left: 100px;
            margin-top: -9px;
            }

.linha{
grid-row: 4;
grid-column: 2;
width: 1600px;
margin-left: -50px;
}

.lista-1{
    grid-column: 2;
    grid-row: 4;
    margin-top: 5px;
    font-size: 25px;
}

.lista-1 li{
    list-style: none;
    padding-bottom: 5px;
    margin-left: -40px;
}

.lista-2{
    grid-column: 5;
    grid-row: 4;
    margin-top: 5px;
    font-size: 25px;
}

.lista-2 li{
    list-style: none;
    padding-bottom: 5px;
    margin-left: -40px;
}

.lista-3{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row: 4;
    margin-top: 5px;
    font-size: 25px;
}

.lista-3 li{
    list-style: none;
    padding-bottom: 5px;
    margin-left: -40px;
}